
/* header
                         _   _                _           
                        | | | | ___  __ _  __| | ___ _ __ 
                        | |_| |/ _ \/ _` |/ _` |/ _ \ '__|
                        |  _  |  __/ (_| | (_| |  __/ |   
                        |_| |_|\___|\__,_|\__,_|\___|_|                                         
*/


#header_principal{

    display:flex;
	width: 100%;
	justify-content: space-evenly;
	height:5vw;

}

#logo_petit {

	width: 10vw;
	height: 5vw;
	margin-left: 0vw;

	background: #00000000;
	border-radius: 12px 12px 12px 12px;
}

#stroke {

	width:30vw;
}

#myaccount {

	width:17vw;
	display:flex;
}



/* div - search bar 
                         ____  _                 ____                      _       ____             
                        |  _ \(_)_   __         / ___|  ___  __ _ _ __ ___| |__   | __ )  __ _ _ __ 
                        | | | | \ \ / /  _____  \___ \ / _ \/ _` | '__/ __| '_ \  |  _ \ / _` | '__|
                        | |_| | |\ V /  |_____|  ___) |  __/ (_| | | | (__| | | | | |_) | (_| | |   
                        |____/|_| \_/           |____/ \___|\__,_|_|  \___|_| |_| |____/ \__,_|_|   

*/




/* footer
                         _____           _            
                        |  ___|__   ___ | |_ ___ _ __ 
                        | |_ / _ \ / _ \| __/ _ \ '__|
                        |  _| (_) | (_) | ||  __/ |   
                        |_|  \___/ \___/ \__\___|_|   

*/